<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<property name="contextName" value="cas-de-test"/>
	<property name="loggingDir" value="logs"/>
	<property name="encoderPattern" value="%d{HH:mm:ss.SSS}||%class:%line %Exception{full} | %msg %n %ex"/>
	
			<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
				<encoder>
					<pattern>${encoderPattern}</pattern>
				</encoder>
			</appender>
		
		    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    	<file>${loggingDir}/${contextName}.log</file>
		        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		            <fileNamePattern>${contextName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		            <maxFileSize>1MB</maxFileSize>
		            <maxHistory>10</maxHistory>
		            <totalSieCap>1GB</totalSieCap>
		        </rollingPolicy>
		        <encoder>
					<pattern>${encoderPattern}</pattern>
		        </encoder>
		    </appender>
		
		<logger name="com.junit" level="" />
		    <root level="INFO">
		        <appender-ref ref="myConsoleAppender"/>
		        <appender-ref ref="myFileAppender"/>
		    </root>
</configuration>
